@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap');

body {
  background-color: black;
}

.landing-container {
  margin-top: 10%;
}

.landing-button {
  background-color: black;
  border-color: black;
  color: green;
  font-family: 'Orbitron', sans-serif;
  font-size: x-large;
  margin: 1.2rem auto;
  text-align: center;
  width: 80%;
}
