@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap');

$background-black: #000;
$text-green: #008000;

body {
  background-color: $background-black;
}

.landing-container {
  margin-top: 10%;
}

.landing-button {
  background-color: $background-black;
  border-color: $background-black;
  color: $text-green;
  font-family: 'Orbitron', sans-serif;
  font-size: x-large;
  margin: 1.2rem auto;
  text-align: center;
  width: 80%;
}
